@font-face {
  font-family: 'xiaolai';
  src: url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/xiaolai/XiaolaiMonoSC-Regular.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/xiaolai/XiaolaiMonoSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}